/* reset */
ul {
  padding: 0;
}
li {
  list-style: none;
}

.bottom-bar-container {
  display: flex;
  justify-content: space-evenly;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  background-color: #262626;

  color: rgba(255, 255, 255, 0.9);
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;

  margin-top: 5px;
}
.footer-right > * {
  padding: 0px 5px;
}

.info {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
